::-webkit-scrollbar {
    width: 8px;
    height: 8px !important;
}

::-webkit-scrollbar-track {
    background: #e2e8f0 !important;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #15803d !important; 
    border-radius: 10px;
    border: 2px solid #e2e8f0; 
}

::-webkit-scrollbar-thumb:hover {
    background: #166534 !important;
}